body {
  background-color: #3C4965;
  color: #0F101B;
}

h4, .btn-style{
  color: #0F101B;
}

.center {
  color: #3C4965;
  text-align: center;
  padding-bottom: 30px;
}

.header {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px dotted;
}

.header img {
  margin: 0 auto;
  width: 300px;
}

h1 {
  font-size: 50px;
  color: #fff;
  margin: 20px 0px;
}

#start {
  padding: 20px 50px;
}

.btn-style {
  background-color: #fff;
}

.timer_student-stop {
  width: 100%;
}

