<div class="athlete_timer" id="<%= athlete.id %>">
  <h3 class="timer_student-name"><%= athlete.username %></h3>
  <h4 class="elapsed_time"></h4>
  <button class="timer_student-stop">FINISH</button>
</div>
